.app__container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;

    margin-top: 48px;

    padding: 24px 48px
}

/* Mobile query */
@media only screen and (max-width: 625px) and (min-width: 325px)  {
    .app__container{
        margin-top: 24px;
        padding: 12px 24px;
        max-width: 100%;
    }    
}

/* Extra small query */
@media only screen and (max-width: 324px) {
    .app__container{
        margin-top: 12px;
        padding: 6px 12px;
    }    
}

/* Small top margin on landscape mode */
@media (orientation: landscape) {
    .app__container{
        margin-top: 12px;
    }    
}