header{
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;

    padding: 24px 24px;

    img{
        max-width: 240px;
    }
}

/* Mobile query */
@media only screen and (max-width: 625px) and (min-width: 325px)  {
    header{
        height: 60px;
    
        img{
            max-width: 180px;
        }
    }
}

/* Extra small query */
@media only screen and (max-width: 324px) {
    header{
        height: 40px;
    
        img{
            max-width: 120px;
        }
    }
}

/* Small header on landscape mode */
@media (orientation: landscape) and (max-width: 625px) {
    header{
        height: 40px;
    
        img{
            max-width: 120px;
        }
    }
}