.launches__container{
    width: 100%;
}

.launch__container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;

    width: 100%;
}

.launch__image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;

    img{
        max-height: 600px;
        max-width: 100%;
    }
}

.image__controller{
    display: flex;
    justify-content: space-between;

    margin-top: 24px;

    .arrow{
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .previous{
        background-image: url( '../../assets/arrow-left.svg' );
    }
    .next{
        background-image: url( '../../assets/arrow-right.svg' );
    }
    .random{
        background-image: url( '../../assets/shuffle.svg' );
    }
}

.launch__data__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.launch__data{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .bold{
        font-weight: 600;
    }
    p{
        margin: 6px 0;
    }
}

/* Mobile query */
@media only screen and (max-width: 625px) and (min-width: 325px)  {

    .launch__image{
        height: 480px;

        img{
            max-height: 480px;
        }
    }
}

/* Extra small query */
@media only screen and (max-width: 324px) {

    .launch__image{
        height: 260px;

        img{
            max-height: 260px;
        }
    }
}